<nz-layout style="height: 100%;">
        <nz-header style="height: 100px;">
          <div class="headl-left">
            <img src="assets/images/brand.jpg">
          </div>
        </nz-header>
        <nz-content style="position: relative;" class="content_back_ground">
          <div class="login-form-container">
            <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
              <nz-form-item>
                <nz-form-control>
                  <nz-input-group nzPrefixIcon="anticon anticon-user">
                    <input type="text" nz-input formControlName="userName" placeholder="Username" input-trim>
                  </nz-input-group>
                  <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">Please input your username!</nz-form-explain>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <nz-input-group nzPrefixIcon="anticon anticon-lock">
                    <input type="password" nz-input formControlName="password" placeholder="Password" input-trim>
                  </nz-input-group>
                  <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Please input your Password!</nz-form-explain>
                </nz-form-control>
              </nz-form-item>
              <!-- <alert-message></alert-message> -->
              <nz-form-item>
                <nz-form-control>
                  <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
                </nz-form-control>
              </nz-form-item>
            </form>
          </div>
        </nz-content>
      </nz-layout>